input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 303px;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 7px;
    background-color: rgb(131, 122, 122);
    background-image:
        linear-gradient(45deg, #ccc 25%, transparent 25%),
        linear-gradient(-45deg, #ccc 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #ccc 75%),
        linear-gradient(-45deg, transparent 75%, #ccc 75%);
    background-size: 5px 5px;
    background-position: 0 0, 0 2.5px, 2.5px -2.5px, -2.5px 0px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: rgb(80, 78, 77);
    border-radius: 50%;
    border: 5px solid white;
    transition: .2s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
    height: 18px;
    width: 18px;
    background-color: rgb(80, 78, 77);
    border-radius: 50%;
    border: 4px solid rgb(255, 255, 255);
    transition: .2s ease-in-out;
}

.range {
    margin: 10px 0;
} 